@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

body {
    background-color: #fff;
    color: #000;
    font-family: 'Roboto Mono', monospace;
    padding: 0px 16px;
};